
.topLinks {
  display: inline-block;
}

.bodyLinks a {
    font-size: 18px;
    color: lightgreen
    
}

.pageHeader {
    font-size: 36px;
    color: white
} 

#profilePic {
    height: 250px;
    float: left;
    padding-right: 50px;
}

.homeIntro {
    font-size: 20px;
    padding-right: 20px;
    color: white
}

.moreToCome {
    font-style: italic;
    font-size: 20px;
    color: lightgreen
}

header {
    background: white;
    font: normal 300 18px "Roboto", sans-serif;
  }

body {
  background: white;
  font: normal 300 18px sans-serif;
  color: black;
}

#body-2 {
  background: black;
  max-width: 960px;
  height: 750px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
   
  #menu-nav {
    max-width: 1000px;
    margin: 30px auto;
    background-color: #e0e4e6;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
   
  #navigation-bar ul {
    border-radius: 4px;
    overflow: hidden;
  }
  #navigation-bar li {
    float: left;
    width: 20%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: rgba(226, 4, 78, 0.849);
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #e74c3c;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #e74c3c;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
   list-style: none;
  }

  #rating {
    color:rgba(29, 176, 235, 0.849)
  }